body {
    border: 1px solid black;
    box-shadow: 3px 3px 4px 4px black;
    margin-left: 367px;
    margin-right: 398px;
}
.style1 {
    margin: 5px;
}
.style2 {
    padding-left: 9px;
    padding-right: 9px;
}
.style3 {
     clear: left;
     border-top: 2px solid black;
}
h1 {
    height: 14px;
}
.tn1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
img {
    float: left;
    padding-right: 25px;
    }
.style {
    text-align: center;
    border-top: 2px solid;
    background-color: black;
    color: white;
    padding: 11px;
}
}

   
